@media (max-width: 745px){
  
 .logo{
        width: 100%;
        margin-left: 20%;
    }

.second{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 60px 20px 40px;
}
 #hey{
    margin-right: 60%;
    margin-left: -30%;
 }
         #image{
    width: 220px;
    margin: 20px 0;
    
     }

    nav .mainside{
        flex-wrap: wrap;
        justify-content: center;
    }

    
    #address{
        margin-left: -10%;
    }
 
      .social {
        display: flex;
        flex-direction: row;
        gap: 20px;
        align-items: center;
        margin-top: 20px;
        right: 3%;
        top: 1rem;
        justify-self: center;
        font-size: 18px;
        transform: scale(0.4);
    }
  .img-icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
 .headtext{
    margin-right: 216px;
 }

 .headtext h1{
  margin-left: -25%;
 }
  }



   @media (max-width: 768px){

  nav .mainside{
      display: none;
  }

  .sidebar{
      display: none;
      position: fixed;
      top: 0;
      right: 0;
      width: 70%;
      height: 100vh;
      background: #111;
      padding-top: 50px;
  }

  .sidebar li{
      margin: 20px;
  }

  #menu{
      display: block;
      font-size: 30px;
      cursor: pointer;
  }

     }


 @media (max-width: 768px){

  .abcontain{
      flex-direction: column;
      padding: 20px;
      align-items: center;
  }

  #abimg{
      width: 80%;
  }

  #abdetail{
      margin: 20px 0;
      max-width: 100%;
      text-align: center;
     overflow-wrap: break-word;
    }

  #resume{
      display: block;
      margin: 20px auto;
  }

          }

 @media (max-width: 768px){

  #main-skill{
      flex-direction: column;
      align-items:center;
  }

     .logoskill {
        width: 100%;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: start;
        align-items: self-start;
        margin-left: 1px;
    }

  .logoicon{
             width: 65%;
        position: absolute;
    }
  }

  .cppbarr,
  .cppproo{
      margin-left: 0;
      width: 100%;
  }

     

       @media (max-width: 768px){
         
        .edumain{
             margin-left: 20px;
        }

    
    }

     @media (max-width: 768px){

  .imgsize1{
      width: 90%;
      margin: 20px auto;
  }

    #digicont{
      width: 100%;
      margin: 0;
      font-size: 15px;
      display: flex;
      flex-direction: column;
      color: burlywood;
    }
  #digicont p{

    line-height: 20px;
  }


       .btdetails {
        display: block;
        margin: 79px;
        margin-top: 56px;

     }
    }
 @media (max-width: 768px){

  #descroll{
      width: 90%;
      height: 250px;
  }

  #deimg{
      flex-direction: column;
      align-items: center;
  }

  .com{
      width: 80%;
  }

  #ard,
  #esp,
  #ras{
      width: 90%;
      margin-left: 0;
      font-size: 14px;
  }
   #memo1{
    display: inline-block;
   }

  }

  @media (max-width: 768px){

  .foot{
      height: auto;
      width: 100%;
      padding: 30px;
      border-radius: 40px 40px 0 0;
    }

  .contact,
  .link,
  .socialll{
      margin: 0;
      align-items: center;
      text-align: center;
    }
   
  #linkk{
    margin-left: -30px;
    margin-top: 40px;
  }
 
  .link{
    margin-top: 40px;
  }
  .socialll{
      margin-top: 100px;
  }
 
  .link a{
      margin: 5px ;
  }
  #last{
    background-color: yellow;
    height: 50px;
    
  }

  }